<div class="card-container">
    <div class="card-line-container">
        <div style="display: table-cell;">
            <span style="font-size: 25px;">06</span><span class="card-font-size">/2020</span>
        </div>
        <div style="display: table-cell;">
            <span class="card-font-size">余额&nbsp;&nbsp;</span><span>￥33,549</span>
        </div>
    </div>
    <div class="card-line-container">
        <div style="display: table-cell;">
            <div class="card-line-title">
                支出
            </div>
            <div class="card-line-content">￥2,351</div>
        </div>
        <div style="display: table-cell;">
            <div class="card-line-title">
                收入
            </div>
            <div class="card-line-content">￥23,351</div>
        </div>
    </div>
    <div class="card-line-container">
        <div class="card-font-size">
            <span>预算&nbsp;&nbsp;</span>
            <span>您还未设置 > </span>
        </div>
    </div>
</div>