.card-container{
    display:block;
    padding:10px 10px;
    width:100%;
    background-color: antiquewhite;
    border-radius: 25px;
}
.card-line-container {
    display: table;
    width:100%;
    table-layout: fixed; 
    margin: 10px 0 10px 10px;
}
.card-font-size {
    font-size: 16px;
}
.card-line-title {
    font-size: 16px;
    margin-bottom: 7px;
}
.card-line-content {
    font-size: 25px;
    margin-left: -5px;
}